footer{
    text-align: center;
    font-size: 17px;
    color: #f79313;
    background-color: white;
    /* min-height: 10%;
    max-height: 10%;
    align-items: inherit; */
}
/* @media all scre */
