#recipeSearchContainer {
    margin-top: 110px;
    background-color: #f7931e;
}
#recipeSearchFormID {
    padding: 10px 20px 20px 20px;
}
#recipeSearchHeader {
    color: #ffffff;
    padding-left: 15px;
}
#recipeSearchInputGroup {
    background-color: #ffffff;
}